body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:67px;
  top:113px;
  width:193px;
  height:37px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:67px;
  top:160px;
  width:193px;
  height:28px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:123px;
  top:250px;
  width:81px;
  height:83px;
  font-size:72px;
  color:#3333FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:83px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:67px;
  top:420px;
  width:200px;
  height:69px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:69px;
}
#u9 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:131px;
  top:436px;
  width:65px;
  height:38px;
  font-family:'Century Bold', 'Century';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
