body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:4px;
  width:34px;
  height:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:151px;
  top:31px;
  width:12px;
  height:12px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:42px;
  width:143px;
  height:1px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:1px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-8px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:54px;
  top:8px;
  width:97px;
  height:28px;
  opacity:0.6;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:46px;
  width:360px;
  height:464px;
  color:#CC0099;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:464px;
}
#u13 {
  position:absolute;
  left:2px;
  top:224px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:54px;
  top:245px;
  width:46px;
  height:65px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:65px;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:180px;
  top:190px;
  width:50px;
  height:70px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:70px;
}
#u17 {
  position:absolute;
  left:2px;
  top:27px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:240px;
  top:310px;
  width:50px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:9px;
  top:516px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:69px;
  top:516px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:129px;
  top:516px;
  width:50px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:457px;
  width:360px;
  height:52px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:52px;
}
#u27 {
  position:absolute;
  left:2px;
  top:18px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:18px;
  top:461px;
  width:31px;
  height:26px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u29 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:491px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:64px;
  top:462px;
  width:31px;
  height:26px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u33 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:67px;
  top:490px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:113px;
  top:461px;
  width:31px;
  height:26px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u37 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:110px;
  top:490px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:310px;
  top:418px;
  width:37px;
  height:32px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:312px;
  top:421px;
  width:32px;
  height:25px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:323px;
  top:428px;
  width:10px;
  height:10px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:189px;
  top:516px;
  width:51px;
  height:50px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:189px;
  top:516px;
  width:50px;
  height:50px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u50 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:233px;
  top:0px;
  width:126px;
  height:45px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u52 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:239px;
  top:5px;
  width:50px;
  height:35px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:296px;
  top:5px;
  width:50px;
  height:35px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:5px;
  width:18px;
  height:33px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:33px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:20px;
  top:43px;
  visibility:hidden;
}
#u59_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u59_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:34px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:34px;
}
#u62 {
  position:absolute;
  left:2px;
  top:9px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:11px;
  top:3px;
  width:49px;
  height:28px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:0px;
  top:34px;
  width:159px;
  height:40px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:74px;
  width:159px;
  height:40px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:11px;
  top:40px;
  width:97px;
  height:28px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:123px;
  top:36px;
  width:32px;
  height:34px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
}
#u72 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:11px;
  top:78px;
  width:97px;
  height:28px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
