body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  opacity:0.6;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:23px;
  top:4px;
  width:34px;
  height:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:8px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:12px;
  top:52px;
  width:50px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:12px;
  top:121px;
  width:50px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:12px;
  top:192px;
  width:50px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:12px;
  top:253px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:12px;
  top:289px;
  width:50px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:12px;
  top:353px;
  width:50px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:5px;
  width:32px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:12px;
  top:227px;
  width:88px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:45px;
  width:360px;
  height:65px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:65px;
}
#u25 {
  position:absolute;
  left:2px;
  top:24px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:28px;
  top:55px;
  width:129px;
  height:37px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:110px;
  width:360px;
  height:65px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:65px;
}
#u29 {
  position:absolute;
  left:2px;
  top:24px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:28px;
  top:120px;
  width:129px;
  height:37px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:0px;
  top:175px;
  width:360px;
  height:65px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:65px;
}
#u33 {
  position:absolute;
  left:2px;
  top:24px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:28px;
  top:185px;
  width:129px;
  height:37px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:0px;
  top:240px;
  width:360px;
  height:65px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:65px;
}
#u37 {
  position:absolute;
  left:2px;
  top:24px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:28px;
  top:250px;
  width:129px;
  height:37px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:310px;
  top:60px;
  width:32px;
  height:32px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
