body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  opacity:0.6;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:23px;
  top:4px;
  width:34px;
  height:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:8px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:12px;
  top:52px;
  width:50px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:5px;
  width:32px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:12px;
  top:227px;
  width:88px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:46px;
  width:360px;
  height:65px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:65px;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:30px;
  top:65px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:310px;
  top:62px;
  width:32px;
  height:32px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
